@import 'base.less';

#app {
  margin: 0 auto;
  font-weight: normal;
}

.container {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  margin: 0 auto;
  max-width: 1380px;
  width: 90%;
}

hr{
  border: 1px solid var(--vt-c-divider-light-2);
}

.container--sections{
  height: 100%;
  //box-shadow: -2px 0px 25px rgba(0, 0, 0, 0.05), 2px 0px 25px rgba(0, 0, 0, 0.05);
}

section {
  width: 100%;
}

.section-content {
  padding: 50px 0;
}

.section-title {
  font-size: 100px;
  font-weight: 600;
  line-height: 85px;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 40px;
}

a{
  text-decoration: none;
  color: inherit;
}

/* Стили для скроллбара */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@media (max-width: 1000px) {
  .section-title {
    font-size: 70px;
  }
}

@media (max-width: 600px) {
  .section-title {
    font-size: 50px;
  }
}