@import 'base.less';

#app {
  margin: 0 auto;
  font-weight: normal;
}

.container {
  margin: 0 auto;
  max-width: 1380px;
  width: 90%;
}

hr{
  border: 1px solid var(--vt-c-divider-light-2);
}

.container--sections{
  height: 100%;
  //box-shadow: -2px 0px 25px rgba(0, 0, 0, 0.05), 2px 0px 25px rgba(0, 0, 0, 0.05);
}

section {
  width: 100%;
  max-height: 1200px;
  //height: calc(100vh - 80px);
}

.section-title {
  font-size: 100px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 3px;
}

a{
  text-decoration: none;
  color: inherit;
}

/* Стили для скроллбара */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@media screen and (max-width: 1500px) {
  .container {
    max-width: 1200px;
  }
}

@media screen and (max-width: 850px) {
  .container {
    max-width: 650px;
  }
}


@media screen and (max-width: 620px) {
  .section-title {
    font-size: 45px;
  }
}